<!--VISTA AGREGADA PARA CUMPLIR CON EL REQUISITO DE LA API-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que Personaje Eres</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <article id="nuevaTarjeta">
            <div class="image-container">
                <img src="https://dragonball-api.com/characters/Babidi_Artwork.webp" alt="personaje">    
            </div>

        <h2>Personaje</h2>
        <span>Total Poder: </span>
        </article>
    </main>
    <script src="js/main.js"></script>
</body>
</html>


